.hero {
   grid-column: 3/4;
   grid-row: 2/3;
   @media screen and(max-width:750px){
      grid-column: 2/3;
   }
   &__body {
      display: grid;
      grid-template: auto/repeat(auto-fit,minmax(300px,1fr));
      column-gap: 20px;
      row-gap: 15px;
   }

   &__template {
      background: #fff;
      border-radius: 10px;
      padding: 10px 15px;
      display: grid;
      grid-auto-flow: rows;
      row-gap: 15px;
      transition: 0.3s;
      &:hover{
         cursor: pointer;
         background: #494d50; 
      }
      &:hover .hero__title{
         color: #fff;  
      }
      &:hover .hero__description{
         color: #fff;  
      }
      &:hover img{
         transform: scale(0.9);
      }
   }
   &__title{
      color: #282a33;
      transition: 0.2s;
   }
	&__description {
      line-height: 20px;
      font-size: 1em;
      transition: 0.2s;
	}
	&__image {
      img.vector{
         height: 206px;
      }
      img{
         max-height: 200px;
         transition: 0.2s;
      }
	}
}


